header h1 {
  display: inline-block;
  margin: 10px 0;
}
header + hr {
  margin: 10px 0;
}
#bookings p,
#bookings p.lead {
  margin: 0;
}
.userAuth {
  display: block;
  margin: 20px 0 0;
}
.modal-header:last-child {
  border-bottom: 0;
}
.card {
  display: inline-block;
  margin: 1em;
  max-width: calc(25% - 2em);
}
#bookings {
  margin-left: -1em;
  margin-right: -1em;
  display: flex;
  flex-wrap: wrap;
}
.user-info {
  display: inline-block;
  margin: 0 0.5em;
}
.user-info img {
  display: inline-block;
  max-width: 2em;
}

.auth-true .authenticated,
.auth-false .unauthenticated {
  display: block;
}
.auth-true .unauthenticated,
.auth-false .authenticated {
  display: none;
}
.feedback {
  display: none;
}
.results {
  display: none;
}
.showItem {
  display: block;
  z-index: 10;
}
.booking {
  display: inline-block;
  margin: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: calc(25% - 2em);
}
.card-body {
  padding: 1em 1em;
}
/* 
.dropbtn {
  background-color: white;
  color: black;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0 20px;
  width: 220px;
} */
.dropdown {
  /* position: relative; */
  display: inline-block;
}
.dropdown-content {
  display: none;

  background: #2a2a32;
  /* position: absolute; */
  /* right: 0; */
  /* background-color: #f9f9f9; */
  /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  /* z-index: 1; */
}

.dropdown-content a {
  color: darkgray;
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  /* background-color: #f1f1f1; */
  background-color: rgba(0, 0, 0, 0.45);
  color: #fb6a33;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  /* background-color: white; */
  background-color: rgba(0, 0, 0, 0.45);
  color: #fb6a33;
}
.dropdown {
  /* margin-bottom: 10px; */
}
.dropbtn {
  margin-top: 27px;
  padding: 0;
  height: auto;
  width: 100px;
  background: #2a2a32;
  /* background: none; */
  display: inline-block;
  border: none;
  color: darkgray;
  font-size: 1.6rem;
}
